<div class="container">
    <h1 class="text-center mt-2 text-secondary">Add French Bulldog</h1>
    <div class="row mt-4 mb-4 text-secondary">
        <form class="col-6 col-lg-9" method="post">
            <div class="form-group">
                <label for="name-input">Name</label>
                <input name="Name" type="text" class="form-control" id="name-input">
            </div>
            <div class="form-group">
                <label for="image-input">Image URL</label>
                <input name="ImageUrl" type="text" class="form-control" id="image-input">
            </div>
            <div class="form-group">
                <label for="color-input">color</label>
                <select name="Color" class="form-control" id="color-input">
                    <option value="White">White</option>
                    <option value="Cream">Cream</option>
                    <option value="Fawn">Fawn</option>
                    <option value="FawnWhite">Fawn and white</option>
                    <option value="Brindle">Brindle</option>
                    <option value="Black">Black</option>
                    <option value="Blue">Blue</option>
                    <option value="Chocolate">Chocolate</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age-input">Age</label>
                <input name="Age" type="number" class="form-control" id="age-input">
            </div>
            <div class="form-group">
                <label for="description-input">Description</label>
                <textarea name="Description" class="form-control" id="description-input"></textarea>
            </div>
            <button type="submit" class="btn btn-custom">Create</button>
        </form>
    </div>
</div>