<div class="index-div bg-blur border border-white">
    <h1>Welcome to French Bulldogs Portal</h1>
    <h5 class="card-title">Ready to French-toast your heart?</h5>
    <p class="card-text">THE MOST AMAZING DECADE OF YOUR LIFE IS JUST ABOUT TO BEGIN</p>
    <a href="/FrenchBulldogs/ForSale" class="btn btn-custom">Take me to the pups!</a>
    <hr class="w-75">
    <div class="card" style="background-image: url(../../images/hero-image.jpg)">
        <div class="card-body">
        </div>
    </div>
</div>